<ion-view hide-back-button="true" class="main" title="">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" ng-click="goUserConfig()" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button menu-toggle="right" ng-click="getMatches()" class="button button-icon icon ion-person"></button>
  </ion-nav-buttons>

  <ion-content padding="true" ng-controller="MainCtrl">

  <div id="mainContent" class="center">

  	<div>
  		<p id="text" class="blackFontTransparent">
  			Tap to tick somebody!
  		</p>
  	</div>

  	<div class="center">
  		<img id="logoCircle" class="tickLogo" src="images/logoCircle.png" ng-click="isEnable && clickTick()">	
  	</div>

  </div>
  </ion-content>
</ion-view>
