.main{
	text-align: center;
	vertical-align: middle;
	color: green;
}


#mainContent{
	margin-top: 50%;
}

.tickLogo{
	width: 20%;
	height: 20%;
}

@media screen and (max-height: 450px) {
    #mainContent{
		margin-top: 50%;
	}

	.tickLogo{
		width: 20%;
		height: 15%;
	}	
}